<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>ABS Party People</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
<link rel="stylesheet" type="text/css" media="screen" href="/css/main.css" />
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<script src="/js/main.js"></script>
<link rel="icon" href="/img/abslogo.png">
</head>

<body>
	<nav class="navbar sticky-top navbar-light bg-light">
		<a class="navbar-brand" href="#">
			<img src="/img/abslogo.png" width="30" height="30" class="d-inline-block align-top" alt="">
			ABS Party People
		</a>
		<div class="navbar-right-container">
			<a href="/login?logout">
				<button class="btn btn-outline-secondary">
					<i class="fa fa-sign-out-alt"></i>
					Log out
				</button>
			</a>
		</div>
	</nav>





	<form th:action="@{/post/add}" th:object="${post}" method="post" enctype="multipart/form-data">
		<div class="welcomeAndNewPost">
			<div class="card">
				<div class="card-header">
					<img th:src="'/user/displayPhoto?id='+${user.id}" class="rounded welcomeProfilePicture">
					<h5 th:text="'Welcome, ' + ${user.firstName}" class="welcomeText"></h5>
				</div>
				<div class="card-body">
					<p class="card-text">What's on your mind today?</p>
					<div class="form-group">
						<textarea class="form-control" id="content" th:field="*{content}" th:required="required"></textarea>
					</div>
					<div>
						<input type="file" id="attachment" name="attachment" />
						<button type="submit" class="postNowButton btn btn-primary" id="postNowButton">
							<i class="fa fa-pen"></i>
							Post now
						</button>
					</div>
				</div>
			</div>
		</div>
	</form>


	<div class="posts" th:each="post: ${postList}">
		<div class="card">
			<div class="card-header">
				<img th:src="'/user/displayPhoto?id='+${post.user.id}" class="rounded profilePicture">
				<div class="postInfo">
					<h5 class="card-title" th:text="${post.user.firstName}+' '+${post.user.lastName}"></h5>
					<h6 class="card-subtitle mb-2 text-muted">
						<i class="fa fa-clock"></i>
						<i th:text="${#dates.format(post.createdAt, 'dd-MM-yyyy HH:mm')}"></i>
					</h6>
				</div>
			</div>
			<div class="card-body">
				<div th:if="${not #lists.isEmpty(post.attachmentList)}" th:each="attachment: ${post.attachmentList}">
					<img th:src="'displayAttachment?id='+${attachment.id}" class="postPicture">
				</div>
				<p class="card-text postContentText" th:text="${post.content}"></p>
				<a href="#" class="card-link">
					<i class="fa fa-heart"></i>
					Like
				</a>
			</div>
		</div>
	</div>
</body>

</html>